/*
 * Accueil css File
*/
.h5 {
margin-left: -70%;
margin-top: 3%;
}
.label{
  
margin-left: -190%;
}
.btn{
   
margin-left: -70%;
}
.form-control{
    margin-left: -50%;
}
.form-group{
    margin-left: 40%;
}
p{
    margin-left: -165%;
}